<header id="header" class="header d-flex align-items-center">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a routerLink="/" class="logo d-flex align-items-center">
      <img src="assets/img/logo_dlya_sayta-01.png" alt="">

    </a>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Главная</a></li>
        <li><a routerLink="about" routerLinkActive="active">О Компании</a></li>
        <li><a routerLink="production" routerLinkActive="active">Производственные мощности</a></li>
        <li><a routerLink="projects" routerLinkActive="active">Выполненые проекты</a></li>
        <li><a routerLink="vacancies" routerLinkActive="active">Вакансии</a></li>
        <li><a routerLink="news" routerLinkActive="active">Новости</a></li>
        <li><a routerLink="contacts" routerLinkActive="active">Контакаты</a></li>
      </ul>
    </nav>
  </div>
</header>


