<div class="col-xl-4 col-md-6">
  <div class="post-item position-relative h-100">

    <div class="post-img position-relative overflow-hidden">
      <img src="../../../assets/img/blog/blog-1.jpg" class="img-fluid" alt="">
      <span class="post-date">Май 19</span>
    </div>

    <div class="post-content d-flex flex-column">

      <h3 class="post-title">ГК «Магистраль» ведёт с опережением графика ремонт улицы Туринской в Лесном</h3>

      <p>
        Глава города Лесной Сергей Черепанов 18 мая провёл выездное совещание на улице Туринской, которую реконструирует Группа компаний «Магистраль». На важном...
      </p>

      <hr>

      <a [routerLink]="['/post', 123]" class="readmore stretched-link"><span>Подробнее</span><i class="bi bi-arrow-right"></i></a>

    </div>

  </div>
</div>
