<main id="main">
  <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/proizvod.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

      <h2>Новости</h2>
      <ol>
        <li><a routerLink="/">Главная</a></li>
        <li>Новости</li>
      </ol>

    </div>
  </div>


  <!-- Blog Section -->
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4 posts-list">

        <!-- 1 блок поста -->
        <div class="col-xl-4 col-md-6">
          <div class="post-item position-relative h-100">

            <div class="post-img position-relative overflow-hidden">
              <img src="assets/img/blog/blog-1.jpg" class="img-fluid" alt="">
              <span class="post-date">Май 19</span>
            </div>

            <div class="post-content d-flex flex-column">

              <h3 class="post-title">ГК «Магистраль» ведёт с опережением графика ремонт улицы Туринской в Лесном</h3>

              <p>
                Глава города Лесной Сергей Черепанов 18 мая провёл выездное совещание на улице Туринской, которую реконструирует Группа компаний «Магистраль». На важном...
              </p>

              <hr>

              <a href="blog-details.html" class="readmore stretched-link"><span>Подробнее</span><i class="bi bi-arrow-right"></i></a>

            </div>

          </div>
        </div>
        <!-- 1 блок поста -->

        <!-- 2 блок поста -->
        <div class="col-xl-4 col-md-6">
          <div class="post-item position-relative h-100">

            <div class="post-img position-relative overflow-hidden">
              <img src="assets/img/blog/blog-2.jpg" class="img-fluid" alt="">
              <span class="post-date">Май 16</span>
            </div>

            <div class="post-content d-flex flex-column">

              <h3 class="post-title">Руководство ГК «Магистраль» пообещало губернатору Свердловской области в кратчайшие сроки завершить ремонт дороги до посёлка Таёжный</h3>

              <p>
                Губернатор Свердловской области Евгений Куйвашев 16 мая проверил, как выполняется его поручение по приведению в порядок дороги до посёлка...
              </p>

              <hr>

              <a href="blog-details.html" class="readmore stretched-link"><span>Подробнее</span><i class="bi bi-arrow-right"></i></a>

            </div>

          </div>
        </div>
        <!-- 2 блок поста -->

        <!-- 3 блок поста -->
        <div class="col-xl-4 col-md-6">
          <div class="post-item position-relative h-100">

            <div class="post-img position-relative overflow-hidden">
              <img src="assets/img/blog/blog-3.jpg" class="img-fluid" alt="">
              <span class="post-date">Октябрь 16</span>
            </div>

            <div class="post-content d-flex flex-column">

              <h3 class="post-title">Руководители ГК Магистраль, поздравляют всех с профессиональным праздником — Днём работников дорожного хозяйства.</h3>

              <p>
                Дорогие дорожники! Пусть работа и дороги вас радуют, сотрудники и коллеги всегда помогают, техника пусть никогда не подводит. Желаем лёгких...
              </p>

              <hr>

              <a href="blog-details.html" class="readmore stretched-link"><span>Подробнее</span><i class="bi bi-arrow-right"></i></a>

            </div>

          </div>
        </div>
        <!-- 3 блок поста -->

      </div><!-- div сетки -->

      <div class="blog-pagination">
        <ul class="justify-content-center">
          <li><a href="#">1</a></li>
          <li class="active"><a href="#">2</a></li>
          <li><a href="#">3</a></li>
        </ul>
      </div>

    </div>
  </section>
</main>
