<main id="main">
  <div class="breadcrumbs d-flex align-items-center" style="background-image: url('../../../assets/img/proizvod.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

      <h2>Новости</h2>
      <ol>
        <li><a routerLink="/">Главная</a></li>
        <li>Новости</li>
      </ol>

    </div>
  </div>


  <!-- Blog Section -->
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-4 posts-list">
        <app-post-news></app-post-news>
        <app-post-news></app-post-news>
      </div>



      <div class="blog-pagination">
        <ul class="justify-content-center">
          <li><a href="#">1</a></li>
          <li class="active"><a href="#">2</a></li>
          <li><a href="#">3</a></li>
        </ul>
      </div>

    </div>
  </section>
</main>
