<section id="hero" class="hero">
  <div class="info d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h2 data-aos="fade-down">ГРУППА КОМПАНИЙ<span> «МАГИСТРАЛЬ»</span></h2>
          <p data-aos="fade-up">Мы создаем качественную, надежную и безопасную дорожную инфраструктуру</p>
        </div>
      </div>
    </div>
  </div>

  <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

    <div class="carousel-item active" style="background-image: url(assets/img/hero-carousel/hero-carousel-1.jpg)"></div>
    <div class="carousel-item" style="background-image: url(assets/img/hero-carousel/hero-carousel-2.jpg)"></div>
    <div class="carousel-item" style="background-image: url(assets/img/hero-carousel/hero-carousel-3.jpg)"></div>
    <div class="carousel-item" style="background-image: url(assets/img/hero-carousel/hero-carousel-4.jpg)"></div>
    <div class="carousel-item" style="background-image: url(assets/img/hero-carousel/hero-carousel-5.jpg)"></div>

    <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>

  </div>

</section>


<main id="main">
  <section id="services-cards text-center" class="services-cards">
    <div class="container justify-content-between" data-aos="fade-up">

      <div class="row gy-4">

        <div class="section-header">
          <h2>О компании</h2>
        </div>


        <div class="col-lg-4 col-md-6 text-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="service-item position-relative">
            <h3>РАБОТАЕМ С 1988 ГОДА</h3>
          </div>
          <p>Мы имеем колоссальный опыт решения любого рода задач. За 33 года своей деятельности мы показали себя ответственной организацией, которой можно доверять. Мы не допускаем нарушений технологий, не срываем сроки и не накручиваем цены.</p>
        </div><!-- End feature item-->

        <div class="col-lg-4 col-md-6 text-center" data-aos="zoom-in" data-aos-delay="200">
          <div class="service-item position-relative">
            <h3>532 КМ ПРОТЯЖЕННОСТЬ ДОРОГ</h3>
          </div>
          <p>Мы обслуживаем и эксплуатируем дороги, круглогодично реализуя всё необходимые для обеспечения непрерывного и безопасного движения мероприятия.</p>
        </div><!-- End feature item-->

        <div class="col-lg-4 col-md-6 text-center" data-aos="zoom-in" data-aos-delay="300">
          <div class="service-item position-relative">
            <h3>МОЩНАЯ ПРОИЗВОДСТВЕННАЯ БАЗА</h3>
          </div>
          <p>Мы обслуживаем и эксплуатируем дороги, круглогодично реализуя всё необходимые для обеспечения непрерывного и безопасного движения мероприятия.</p>
        </div><!-- End feature item-->
      </div>

    </div>
  </section><!-- End Servie Cards Section -->


  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Сервис</h2>
        <p>Сфера деятельности Группа компаний «МАГИСТРАЛЬ»</p>
      </div>

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fa-solid fa-hammer"></i>
            </div>
            <h3>СТРОИТЕЛЬСТВО</h3>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fas fa-road"></i>
            </div>
            <h3>КАПИТАЛЬНЫЙ РЕМОНТ</h3>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fas fa-paint-roller"></i>
            </div>
            <h3>РЕМОНТ</h3>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fas fa-truck-pickup"></i>
            </div>
            <h3>СОДЕРЖАНИЕ</h3>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fas fa-drafting-compass"></i>
            </div>
            <h3>ПРОИЗВОДСТВО АСФАЛЬТОБЕТОНА</h3>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="fas fa-hard-hat"></i>
            </div>
            <h3>ДОБЫЧА ЩЕБНЯ</h3>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>

  </section><!-- End Services Section -->






  <!-- ======= Our Projects Section ======= -->
  <section id="projects" class="projects">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Галерея проектов</h2>
      </div>

      <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">

        <ul class="portfolio-flters" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">Все</li>
          <li data-filter=".filter-1">Категория 1</li>
          <li data-filter=".filter-2">Категория 2</li>
          <li data-filter=".filter-3">Категория 3</li>
        </ul><!-- End Projects Filters -->

        <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">


          <!-- Карточка 1 -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-1">
            <div class="portfolio-content h-100">
              <img src="assets/img/projects/proizvod_item1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Lorem ipsum 1</h4>
                <p>Lorem ipsum, dolor sit amet consectetur</p>
                <a href="assets/img/projects/proizvod_item1.jpg" title="Карточка 1" data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="project-details.html" title="Подробнее" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>
          <!-- Карточка 1 -->

          <!-- Карточка 2 -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-2">
            <div class="portfolio-content h-100">
              <img src="assets/img/projects/proizvod_item1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Lorem ipsum 1</h4>
                <p>Lorem ipsum, dolor sit amet consectetur</p>
                <a href="assets/img/projects/proizvod_item1.jpg" title="Карточка 2ы" data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="project-details.html" title="Подробнее" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>
          <!-- Карточка 2 -->

          <!-- Карточка 3 -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-3">
            <div class="portfolio-content h-100">
              <img src="assets/img/projects/proizvod_item1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Lorem ipsum 1</h4>
                <p>Lorem ipsum, dolor sit amet consectetur</p>
                <a href="assets/img/projects/proizvod_item1.jpg" title="Карточка 3" data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="project-details.html" title="Подробнее" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>
          <!-- Карточка 3 -->



        </div><!-- End Projects Container -->

      </div>

    </div>
  </section>




  <section id="recent-blog-posts" class="recent-blog-posts section-bg">
    <div class="container" data-aos="fade-up">


      <div class="section-header">
        <h2>Последние новости</h2>
      </div>

      <div class="row gy-5">

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="post-item position-relative h-100">

            <div class="post-img position-relative overflow-hidden">
              <img src="assets/img/blog/blog-1.jpg" class="img-fluid" alt="">
              <span class="post-date">Май 19</span>
            </div>

            <div class="post-content d-flex flex-column">

              <h3 class="post-title">ГК «Магистраль» ведёт с опережением графика ремонт улицы Туринской в Лесном</h3>
              <hr>
              <a href="blog-details.html" class="readmore stretched-link"><span>Подробнее</span><i class="bi bi-arrow-right"></i></a>

            </div>

          </div>
        </div><!-- End post item -->

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="post-item position-relative h-100">

            <div class="post-img position-relative overflow-hidden">
              <img src="assets/img/blog/blog-2.jpg" class="img-fluid" alt="">
              <span class="post-date">Май 16</span>
            </div>

            <div class="post-content d-flex flex-column">

              <h3 class="post-title">Руководство ГК «Магистраль» пообещало губернатору Свердловской области в кратчайшие сроки завершить ремонт дороги до посёлка Таёжный</h3>
              <hr>
              <a href="blog-details.html" class="readmore stretched-link"><span>Подробнее</span><i class="bi bi-arrow-right"></i></a>

            </div>

          </div>
        </div><!-- End post item -->

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="post-item position-relative h-100">

            <div class="post-img position-relative overflow-hidden">
              <img src="assets/img/blog/blog-3.jpg" class="img-fluid" alt="">
              <span class="post-date">Октябрь 16</span>
            </div>

            <div class="post-content d-flex flex-column">

              <h3 class="post-title">Руководители ГК Магистраль, поздравляют всех с профессиональным праздником — Днём работников дорожного хозяйства.</h3>
              <hr>
              <a href="blog-details.html" class="readmore stretched-link"><span>Подробнее</span><i class="bi bi-arrow-right"></i></a>

            </div>

          </div>
        </div><!-- End post item -->


      </div>

    </div>
  </section>
</main>
