<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/carera_bg.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

      <h2>О компании</h2>
      <ol>
        <li><a href="index.html">Главная</a></li>
        <li>О компании</li>
      </ol>

    </div>
  </div><!-- End Breadcrumbs -->

  <!-- ======= About Section ======= -->
  <section id="about" class="alt-services section-bg about">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-around gy-4">
        <div class="col-lg-12 d-flex flex-column justify-content-center text-center">
          <h2 class="mb-5">С ЧЕГО ВСЁ НАЧИНАЛОСЬ?</h2>
          <div class="our-story">
            <h3>История</h3>
            <p>Деятельность династии Огибениных началась с 1978 года, когда братья Владимир и Анатолий работали водителями в артелях «Урал» (Ивдель), «Тура» и «Рудная» (посёлок Ис).</p>
            <p>В 1987 году велось строительство автодороги Бушуевка — Савина Горка протяжённостью шести километров, работу поручили выполнить артели «Рудная», имевшей небольшой опыт дорожного строительства.
              Ответственным за объект назначили В. В. Огибенина. На этой самой дороге Владимир Викторович показал, на что он способен.
              Этот первый опыт строительства автодорог и есть исток будущей большой компании «Магистраль», которая зарекомендует себя надежным и ответственным подрядчиком.</p>
            <p>В ноябре 1988 года Владимир Викторович принял решение создать свой кооператив «Кедр», который изначально занимался заготовкой, поставкой и переработкой древесины.
              Непростые были времена в отсутствии живых денег. Производили обмен своей продукции на оборудование, транспорт, продукты питания и т.д.
              Кооператив крепчал с каждым месяцем, обрастая надёжными кадрами и материально-техническими запасами.</p>
            <p>В 1990 году уже выполнялись работы по содержанию дороги на участке от посёлка Ис до посёлка Косья. Вскоре из-за хорошей работы «Кедр» получил заказ у ОАО «Свердловскавтодор» по ремонту дороги между посёлками Ёлкино и Бушуевка.</p>
            <p>В 1992 году заключили договор на строительство участка Нихвор — Андрюшино. До этого во время весеннего паводка от деревни к деревне добирались только на гусеничном тракторе.</p>
            <p>Следующим объектом уже для выросшей из «Кедра» в «Магистраль» компании стало строительство трассы длиной в 44 километра Верхняя Тура — Качканар с выходом в Пермский край, которую сдали в эксплуатацию в 2003 году, и строительство обхода Волчанска — автодороги Серов — Североуральск — Ивдель.
              Чтобы выполнить работу, нужно было сперва наладить производство щебня и асфальтобетона. Так у компании «Магистраль» появились свои асфальтобетонные заводы, карьеры и дробильно-сортировочные комплексы.</p>
            <p>Гордостью компании стала дорога всероссийского масштаба Пермь — Екатеринбург — Серов — Ивдель — Ханты-Мансийск — Нижневартовск — Томск: участок на территории Свердловской области в 146 километров от Ивделя до границы с Ханты-Мансийским автономным округом.
              Непроходимые болота и лес стали вызовом для «Магистрали». Местами рабочим приходилось вынимать торф из болота на глубину девять метров и засыпать эти участки скальным грунтом.
              Сквозное автомобильное движение открылось в октябре 2013 года. Дорога сократила путь на 800 километров из Европы на север Сибири. Прежде добраться туда можно было только через Тюмень.</p>
            <p>Дорожное строительство стало судьбой не только Владимира Огобенина, но и всей его большой семьи.
              По стопам отца пошёл сын Андрей, который к управлению компанией поднялся с самых низов: работал водителем бензовоза, руководил автозаправочной станцией, и лишь когда отец почувствовал, что сын набрался опыта, вывел Андрея на управление «Магистралью».
              Сейчас в развитии семейного дела участвует уже и сын Андрея Владимировича — Эдуард. На нём масштабные задачи по автоматизации процессов производства, внедрение новых методов управления, в том числе в кадровой и финансовой сфере.
              Компания до сих пор остается одним из ведущих игроков рынка дорожного строительства на Урале, идёт в ногу со временем.
              В арсенале компании множество услуг обширного спектра дорожно-строительных работ.</p>
            <ul>
              <div class="watch-video d-flex align-items-center position-relative">
                <i class="bi bi-play-circle"></i>
                <a href="https://www.youtube.com/watch?v=7nbz__K5qzo" class="glightbox stretched-link">Посмотреть видеоролик</a>
              </div>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section>


</main>
