<!doctype html>
<html lang="ru-RU">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Группа компаний Магистраль</title>
  <link rel='stylesheet' id='magis-style-css' href='/assets/magistral/themes/magis/style.css' media='all'>
  <link rel='stylesheet' id='magis-main-css-css' href='/assets/magistral/themes/magis/app/css/main.min.css' media='all'>
  <link rel='stylesheet' id='wp-block-library-css' href='/assets/magistral/css/dist/block-library/style.min.css' media='all'>
  <script src='/assets/magistral/themes/magis/app/js/scripts.min.js?ver=6.0' id='magis-main-js-js'></script>
</head>
