<main id="main">
  <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/proizvod.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

      <h2>Производственные мощности</h2>
      <ol>
        <li><a href="index.html">Главная</a></li>
        <li>Производственные мощности</li>
      </ol>

    </div>
  </div>

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <div class="row gy-4">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item position-relative">
            <img src="assets/img/production/truck-service.jpg" class="service-img mb-3">
            <h3>МОЩНЫЙ ПАРК АВТОТЕХНИКИ</h3>
            <a href="service-details.html" class="readmore stretched-link">Подробнее <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item position-relative">
            <img src="assets/img/production/work_service.jpg" class="service-img mb-3">
            <h3>ДОРОЖНО-РЕМОНТНО-СТРОИТЕЛЬНЫЙ УЧАСТОК П.ИВДЕЛЬ</h3>
            <a href="service-details.html" class="readmore stretched-link">Подробнее <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item position-relative">
            <img src="assets/img/production/work_service.jpg" class="service-img mb-3">
            <h3>ДОРОЖНО-РЕМОНТНО-СТРОИТЕЛЬНЫЙ УЧАСТОК П.СОСЬВА</h3>
            <a href="service-details.html" class="readmore stretched-link">Подробнее <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <img src="assets/img/production/work2_service.jpg" class="service-img mb-3">
            <h3>ДОРОЖНО-РЕМОНТНО-СТРОИТЕЛЬНЫЙ УЧАСТОК Г.ВОЛЧАНСК</h3>
            <a href="service-details.html" class="readmore stretched-link">Подробнее <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="service-item position-relative">
            <img src="assets/img/production/work3-service.jpg" class="service-img mb-3">
            <h3>ДОРОЖНО-РЕМОНТНО-СТРОИТЕЛЬНЫЙ УЧАСТОК НИЖНЯЯ ТУРА</h3>
            <a href="service-details.html" class="readmore stretched-link">Подробнее <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
          <div class="service-item position-relative">
            <img src="assets/img/production/work4-service.jpg" class="service-img mb-3">
            <h3>ВЫСОКОКВАЛИФИЦИРОВАННЫЙ ПЕРСОНАЛ</h3>
            <a href="service-details.html" class="readmore stretched-link">Подробнее <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Services Section -->




</main><!-- End #main -->
