<main id="main">

  <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/projects_bg.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

      <h2>Вакансии</h2>
      <ol>
        <li><a href="index.html">Главная</a></li>
        <li>Вакансии</li>
      </ol>

    </div>
  </div>



  <!-- ======= About Section ======= -->
  <section id="about" class="alt-services section-bg about">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-around gy-4">
        <div class="col-lg-12 d-flex flex-column justify-content-center text-center">
          <div class="our-story">
            <p><strong>ГК «МАГИСТРАЛЬ»</strong> – это сплочённая команда профессионалов и опытных сотрудников, которые преданы своему делу. Благодаря высокой квалификации, энтузиазму и ответственности наших специалистов, мы качественно и в срок выполняем самые сложные проекты.</p>
            <p>Каждый наш специалист разделяет ценности компании, среди которых работа на результат, профессионализм, ответственность и порядочность.</p>
            <ul>
              <div class="watch-video d-flex align-items-center position-relative">
                <i class="bi bi-play-circle"></i>
                <a href="https://youtu.be/-MA7k5iNqqI" class="glightbox stretched-link">Посмотреть видеоролик</a>
              </div>
              <p class="pt-3">Хочешь стать частью нашей команды?
                <br>Отправляй свое резюме на почту: <a href="mailto:gk@doroga96.ru">gk@doroga96.ru</a></p>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section>



  <section id="recent-blog-posts" class="recent-blog-posts ">
    <div class="container" data-aos="fade-up">


      <div class="section-header">
        <h2>Вакансии</h2>
      </div>

      <div class="row gy-5">

        <!-- 1 -->
        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="post-item position-relative h-100">

            <div class="post-img position-relative overflow-hidden">
              <img src="" class="img-fluid" alt="">
            </div>

            <div class="post-content d-flex flex-column">

              <h3 class="post-title">Маркетолог</h3>
              <p>Рассматриваем кандидатов на удаленную, проектную работу: частичная занятость. Возможность работать в офисе.  График работы 5/2.</p>
              <hr>
              <a href="blog-details.html" class="readmore stretched-link"><span>Подробнее</span><i class="bi bi-arrow-right"></i></a>

            </div>

          </div>
        </div>
        <!-- 1 -->


        <!-- 2 -->
        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="post-item position-relative h-100">

            <div class="post-img position-relative overflow-hidden">
              <img src="" class="img-fluid" alt="">
            </div>

            <div class="post-content d-flex flex-column">

              <h3 class="post-title">Главный бухгалтер</h3>
              <p>На постоянную работу в г. Нижняя Тура требуется главный бухгалтер.</p>
              <hr>
              <a href="blog-details.html" class="readmore stretched-link"><span>Подробнее</span><i class="bi bi-arrow-right"></i></a>

            </div>

          </div>
        </div>
        <!-- 2 -->

        <!-- 3 -->
        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="post-item position-relative h-100">

            <div class="post-img position-relative overflow-hidden">
              <img src="" class="img-fluid" alt="">
            </div>

            <div class="post-content d-flex flex-column">

              <h3 class="post-title">Специалист по охране труда</h3>
              <p>Приглашаем на постоянную работу специалиста по охране труда. Работа в г. Нижняя Тура. Функциональные обязанности: Проведение инструктажа с работниками Разработка</p>
              <hr>
              <a href="blog-details.html" class="readmore stretched-link"><span>Подробнее</span><i class="bi bi-arrow-right"></i></a>

            </div>

          </div>
        </div>
        <!-- 3 -->


      </div>
    </div>
  </section>


</main>
